/* Write your CSS here */

.list-repo-item {
  list-style-type: none;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.image-repo-item {
  width: 100px;
  height: 100px;
}

.icon {
  width: 30px;
  height: 30px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.body {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
